<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activities.VideoActivity"></activity>
        <activity android:name=".activities.FusionActivity" />
        <activity android:name=".activities.SuccessActivity" />
        <activity android:name=".activities.PrivacyActivity" />
        <activity android:name=".activities.SelectTypeActivity" />
        <activity android:name=".activities.NewCalendarActivity" />
        <activity android:name=".activities.CalendarActivity" />
        <activity android:name=".activities.GroupSettingActivity" />
        <activity android:name=".activities.GroupDetailsActivity" />
        <activity android:name=".activities.AddFriendsActivity" />
        <activity android:name=".activities.AddGroupActivity" />
        <activity android:name=".activities.GroupsActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.ConnectedActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.MenuActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SiginActivity" />
    </application>

</manifest>